{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'style': 'width:100%;'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if user.salaryCalculated %}
        <p>
            <b>Salary:</b><i>{{ user.salary }}</i>
        </p>
    {% endif %}

{% endblock %}
